{{! Services template}}
import 'dart:typed_data';

{{{documentation}}}
class {{service_name}} {

  // Service procedures
  {{#service_procedures}}
  {{{documentation}}}
  {{{return_type}}} {{procedure_name}}({{#parameters}}{{{parameter_type}}} {{parameter_name}}{{#comma}}, {{/comma}}{{/parameters}}) {}

  {{/service_procedures}}

  // Service getters
  {{#service_getters}}
  {{{documentation}}}
  {{{return_type}}} get {{procedure_name}} {}

  {{/service_getters}}

  // Service setters
  {{#service_setters}}
  {{{documentation}}}
  void set {{procedure_name}}({{#parameters}}{{{parameter_type}}} {{parameter_name}}{{#comma}}, {{/comma}}{{/parameters}}) {}

  {{/service_setters}}

}

{{#classes}}
{{{documentation}}}
class {{class_name}} {

  // Reference of instance
  Uint8List _value;

  // Class methods
  {{#class_methods}}
  {{{documentation}}}
  {{{return_type}}} {{procedure_name}}({{#parameters}}{{{parameter_type}}} {{parameter_name}}{{#comma}}, {{/comma}}{{/parameters}}) {}

  {{/class_methods}}

  // Class static methods
  {{#class_static_methods}}
  {{{documentation}}}
  static {{{return_type}}} {{procedure_name}}({{#parameters}}{{{parameter_type}}} {{parameter_name}}{{#comma}}, {{/comma}}{{/parameters}}) {}

  {{/class_static_methods}}

  // Class getters
  {{#class_getters}}
  {{{documentation}}}
  {{{return_type}}} get {{procedure_name}} {}

  {{/class_getters}}

  // Class setters
  {{#class_setters}}
  {{{documentation}}}
  void set {{procedure_name}}({{#parameters}}{{{parameter_type}}} {{parameter_name}}{{#comma}}, {{/comma}}{{/parameters}}) {}

  {{/class_setters}}
}
{{/classes}}

{{#enumerations}}
{{{documentation}}}
enum {{enumeration_name}} {
  // Values
  {{#enumeration_values}}
  {{enumeration_value}},
  {{/enumeration_values}}
}
{{/enumerations}}

{{#exceptions}}
{{{documentation}}}
class {{exception_name}} {}
{{/exceptions}}